<!-- <!doctype html>
<html>
    <head>
        <title>My Flask App Page</title>
</head>
<body>
        {% if name %}
            <p>Hello {{name}} </p>
        {% else %}
            <p>Hello anonymous person </p>
        {% endif %}
    </body>
<p>Let's keep in touch </p>
    <div id="contact-form">
        <form method="post" action="/signup">
            <label for="email">Email address:</label>
            <input type="email" id="email" name="email"

required="required">

            <input type="submit" value="Submit" id="submit-
    button">

        </form>
    </div>
</html> -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="style\style.css">
      <!-- JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="JavaScript\app.js"></script>

    <title>Dice- Home</title>
  </head>
  <body>
      <!-- HEAD START Lili working on this. Navbar + Jumbotron -->
      <!-- this is the beginning of the navbar -->
    <nav class="navbar d-flex align-items-end justify-content-between fixed-top navbar-expand-lg navbar-dark">
      <a class="navbar-brand mb-0 h1" href="index.html">
        <img id="Logonavbar" src="Media\EGG-LOGO-white.png"  width="100" height="auto" class="d-inline-block align-bottom" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Book a table</a>
          <a class="nav-item nav-link" href="#">Our Recepies</a>
          <a class="nav-item nav-link" href="#">Contact</a>
          <a class="nav-item nav-link" href="pages\shop.html">Shop</a>
        </div>
      </div>
    </nav>


      <!-- OPTION 1 beggining of caroursel -->
<!--
    <div>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner d-block">
          <div class="carousel-item active">
            <img class="d-block w-100" src="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="First slide">
            <div class="caps d-flex align-middle">


            <div class="carousel-caption d-flex d-md-block">
              <h2 id="carousel_large_caption">Come and visit us</h2>
              <p id="carousel_paragraph">And endulge in the greatest gastronomic experience</p>
              <button id="bookButton" type="button" class="btn btn-outline-light">Book a table</button>
              <button id="buttonHShop" type="button" class="btn btn-outline-light">Shop now</button>
            </div>
          </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://images.pexels.com/photos/8806/food-breakfast-egg-milk.jpg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Second slide">
            <div class="carousel-caption d-none d-md-block vertical-align-middle">
              <h2 id="carousel_large_caption">Come and visit us</h2>
              <p id="carousel_paragraph">And endulge in the greatest gastronomic experience</p>
              <button id="bookButton" type="button" class="btn btn-outline-light">Book a table</button>
              <button id="buttonHShop" type="button" class="btn btn-outline-light">Shop now</button>
            </div>

          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://images.pexels.com/photos/824635/pexels-photo-824635.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h2 id="carousel_large_caption">Come and visit us</h2>
              <p id="carousel_paragraph">And endulge in the greatest gastronomic experience</p>
              <button id="bookButton" type="button" class="btn btn-outline-light">Book a table</button>
              <button id="buttonHShop" type="button" class="btn btn-outline-light">Shop now</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
        <!-- OPTION 1 END -->


      <!-- Option 2 Hero Video -->
    <div class="bg">
      <div class="jumbotron jumbotron-fluid">
        <video autoplay muted loop  poster="">
          <source src="Media\eggsheader.mp4" type="video/mp4">
          <!-- <source src="Media\poached.webm" type="video/webm"> -->
       </video>
        <div class="container">
          <h1 class="display-3">Come and get cracked</h1>
          <p class="lead">The ultimate eggsperience.</p>
          <p class="lead">
            <a class="btn btn-outline-light btn-lg" href="#" role="button">Shop Now</a>
            <a class="btn btn-outline-light btn-lg" href="#" role="button">Book a table</a>
          </p>
        </div>
      </div>
    </div>
      <!-- HEAD END -->

      <!-- MAIN BODY - START -->
      <div class="container d-flex flex-row justify-content-around align-items-center" id="block1">
        <div class="row" id="block1content">
          <div class="col-md-6">
            <h3 class="bookatable">Book a table</h3>
              <form>
                <div class="form-group">
                  <label for="formGroupExampleInput"></label>
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First Name">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2"></label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Last Name">
                </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2"></label>
                    <input type="date" id="arrive" class="form-control" placeholder="none" name="arrive" value="<?php echo date('dd-mm-yyyy'); ?>">
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2"></label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Number of guests">
                  </div>

              </form>
          </div>
          <div class="col-md-6 align-self-center">
            <h5 class="rhstext">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
          </div>
        </div>
      </div>

      <div class="container-fluid d-flex-middle alig-content-center align-middle" id="paralax2">
        <span>
          <h2>Our Menu</h2>
        </span>
      </div>


      <div class="container-fluid" id="ourMenu">

        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="Media\65ff575e967295ac319ac5edde473488--avocado-egg-toast-egg-on-toast.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Eggs like this</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="Media\0428_PREFAB_SPROUT_194.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Eggs like that</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="Media\EGGS_TWO.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Eggs like this</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

        <div class="container-fluid" id="paralax1"></div>

        <div class="container-fluid d-flex align-items-center justify-content-around" id="testimonials">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <img id="glyph" src="Media\pan-512.png" alt="Frying Pan">
                </td>
                <td>
                  <img id="glyph" src="Media\catering_food_dinner_20584.png" alt="Dinner plate">
                </td>
                <td>
                  <img id="glyph" src="Media\egg-2-icon.png" alt="Frying Pan">
                </td>
                <td>
                  <img id="glyph" src="Media\seeicons__57b2aae22e381.png" alt="Salad">
                </td>
              </tr>
              <tr>
                <td>134529</td>
                <td>13945039</td>
                <td>142095</td>
                <td>194959</td>
              </tr>
            </tbody>
          </table>
        </div>

    <!-- MAIN BODY -END -->


    <!-- FOOTER START - Natalie Working on, Footer (social/contact/map) -->

    <div class="container-fluid" id="paralax3"></div>


    <footer class="bg-dark">
      <p>thid is just some test content and colour</p>


    </footer>

    <!--FOOTER END-->



  </body>
</html>
